.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(180, 180, 180, 0.829);
  height: 60px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
}

.nav-left {
  border: white;
}

.nav-center {
  width: 200px;
  text-align: center;
  border: 1px solid rgb(206, 204, 204);
  border-radius: 5px;
  opacity: 0.5;
}

.nav-right {
  width: 150px;
  font-size: 25px;
}

img.circle {
  border-radius: 50%;
}

div.ID {
  font-size: 28px;
}

div.button {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.button a {
  text-decoration: none;
}

.fa-cog:before {
  content: "\f013";
}

.highlights {
  display: flex;
  width: 70%;
  align-content: center;
  margin: 50px auto;
}

.highlight {
  width: auto;
  margin: 0 25px;
}

.circle {
  border: 1px solid rgb(201, 201, 201);
}

.highcaption {
  text-align: center;
}

.imgs {
  display: flex;
  justify-content: center;
}

.instaimg {
  margin: 0 5px;
}
