<<<<<<< HEAD
.div
{
  background-color: white;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(180, 180, 180, 0.829);
    height: 60px;
    width: 100%;
    padding: 0 50px;
    position: fixed;
    background-color: white;
=======
.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(180, 180, 180, 0.829);
  height: 60px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
>>>>>>> 04b168f7833d436a28268eb0db6c991cfb5de043
}

.nav-left {
  border: white;
}

.nav-center {
  width: 200px;
  text-align: center;
  border: 1px solid rgb(206, 204, 204);
  border-radius: 5px;
  opacity: 0.5;
}

.nav-right {
  width: 150px;
  font-size: 25px;
}


.highlights{
  display: flex;
  width: 70%;
  align-content: center;
  margin: 50px auto;
}

.highlight{
  width:auto;
  margin: 0 25px;
  }


.circle{
  border: 1px solid rgb(201, 201, 201);
}

.highcaption{
  text-align: center;

}

.imgs{
  display: flex;
  justify-content: center;
}

.instaimg{
  margin:0 5px;
}

/* 인우형 css */
/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* 
body {
  background-color: #fafafa;
}

img.circle {
  border-radius: 50%;
}

div.ID {
  font-size: 28px;
}

div.button {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.button a {
  text-decoration: none;
}

.fa-cog {
  font-size: 25px;
}

<<<<<<< HEAD
.profiledetail {
=======
.highlights {
>>>>>>> 04b168f7833d436a28268eb0db6c991cfb5de043
  display: flex;
  align-content: center;
  margin: 20px 0;
}

<<<<<<< HEAD
.profilebox {
  width: 75%;
  margin: 110px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.below_navbar {
  background-color: rgb(238, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.content {
  display: flex;
  flex-direction: column;
}
div.subnav {
  width: 1000px;
  height: 50px;
=======
.highlight {
  width: auto;
  margin: 0 25px;
}

.circle {
  border: 1px solid rgb(201, 201, 201);
}

.highcaption {
  text-align: center;
}

.imgs {
>>>>>>> 04b168f7833d436a28268eb0db6c991cfb5de043
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid grey;
}

<<<<<<< HEAD
.subnav div {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 49px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.subnav div:hover {
  margin-top: -1px;
  border-top: 2px solid black;
  cursor: pointer;
} */
=======
.instaimg {
  margin: 0 5px;
}
>>>>>>> 04b168f7833d436a28268eb0db6c991cfb5de043
