.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(180, 180, 180, 0.829);
    height: 150;
    width: 100%;
}

.nav-left
{
    border: white;
}

.nav-center
{
    width:
}

img.circle {
  border-radius: 50%;
}

div.ID {
  font-size: 28px;
}

div.button {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.button a {
  text-decoration: none;
}

.fa-cog:before {
  content: "\f013";
}
